{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %} Добавить запись {% endblock %}

{% block content %}

    <h3> Добавить запись </h3>

<div class="container d-flex justify-content-center mt-5">

  <form method="post" class="w-50">
    {% csrf_token %}

      <ul class="non-field-errors">
  {% for error in form.non_field_errors %}
    <li>{{ error }}</li>
  {% endfor %}
</ul>

    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Добавить</button>



  </form>

</div>
{% endblock %}