{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>{{ pagename }}</h1>
                <hr>
            </div>
        </div>

<div class="row">
    <div class="col">
        <div class="alert alert-info mt-4" role="alert">
            <h4 class="alert-heading">Добро пожаловать, уважаемый пользователь!</h4>
            <p>
                Здесь ты можешь удобно хранить свои сниппеты кода на разных языках программирования.<br>
                <strong>Сервис полностью бесплатный! 🚀</strong>
            </p>
            <h5>🛠️Фичи:</h5>
            <ul style="text-align: left">
                <li>🔒/🌍 Приватные и публичные сниппеты с возможностью изменить доступ</li>
                <li>✏️ Удобное удаление и редактирование своих сниппетов</li>
                <li>🔎 Поиск по названию и коду сниппета</li>
                <li>💬 Обсуждение сниппетов с другими разработчиками в комментариях</li>
                <li>📋 Гибкая сортировка сниппетов</li>
            </ul>
            <hr>
            <p class="mb-0">
                Создавай, ищи, комментируй и вдохновляйся чужими идеями — всё для твоего продуктивного кодинга! 💡
            </p>
        </div>
    </div>
</div>

</div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
{% endblock %}