{% extends 'base.html' %}
{% load static %}

{% block title %}Мои уведомления{% endblock %}

{% block content %}
<main role="main" class="mt-3 flex-shrink-0">
    <div class="alerts-fixed-container" id="alertsFixedContainer"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="mb-4">
                    Мои уведомления
                    {% if unread_count > 0 %}
                        <span class="badge bg-danger">{{ unread_count }} новых</span>
                    {% endif %}
                </h2>
                <div class="row">
    {% if page_obj %}
        {% include 'includes/notifications_list.html' with notifications=page_obj show_grouped=True request=request %}
        {% include 'includes/paginator.html' %}
    {% else %}
        <div class="col-12">
            <div class="alert alert-info mt-3">У вас нет уведомлений.</div>
        </div>
    {% endif %}
</div>
            </div>
        </div>
    </div>
</main>
{% endblock %}