{% extends 'base.html' %}
{% load lang_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <fieldset disabled>
                <div class="row disabled">
                    <div class="col col-8">
                        Название:
                        <input type="text" value="{{ snippet.name }}" class="form-control">

                        Язык:
                        <i class="{% lang_icon_class snippet.lang %}"></i>
                        <span>{{ snippet.lang }}</span>
                    </div>
                    <div class="col col-4">
                        Дата создания: <input type="text" value="{{ snippet.creation_date|date:"d.m.Y H:i" }}" class="form-control">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <div class="p-2 h-100" style="border:1px solid #ced4da; border-radius:5px; background-color: #1e1e1e; color: #f8f8f2; font-family: monospace; white-space: pre-wrap;">
                            <pre style="margin: 0; text-align: left">{{ snippet.code }}</pre>
                        </div>
                        <p style="text-align: left">👁Просмотры: {{ snippet.views_count }}</p>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <h5>Все комментарии ({{ snippet.comment_set.count }})</h5>

            {% for comment in snippet.comment_set.all %}
                <div class="border rounded p-2 mb-2">
                    <strong>{{ comment.author.username }}</strong> <small class="text-muted">{{ comment.creation_date|date:"d.m.Y H:i" }}</small>
                    <p>{{ comment.text|linebreaksbr }}</p>
                </div>
            {% empty %}
                <p>Комментариев пока нет.</p>
            {% endfor %}
        </div>
    </div>

   {% if user.is_authenticated %}
<div class="row mt-3">
    <div class="col">
        <h5>Добавить новый комментарий</h5>
<form action="{% url 'MainApp:comment_add' %}" method="POST">
    {% csrf_token %}
    {{ comment_form.text }}
    <input type="hidden" name="snippet_id" value="{{ snippet.id }}">
    <button type="submit" class="btn btn-primary mt-2">Добавить</button>
</form><br>

    </div>
</div>
{% else %}
<div class="row mt-3">
    <div class="col">
        <p><a href="{% url 'MainApp:custom_login' %}">Войдите</a>, чтобы оставить комментарий.</p>
    </div>
</div>
{% endif %}
<a href="{% url 'MainApp:snippets-list' %}"><-- Назад к списку</a>
</div>
{% endblock %}
