{% extends 'base.html' %}
{% load lang_tags %}

{% block title %}Просмотр сниппетов{% endblock %}

{% block content %}
<div class="container my-4">

    <div class="text-center mb-3">
        <h5 class="fw-bold mt-4">{{ pagename }}</h5>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-sm align-middle">
            <thead class="table-light small">
                <tr>
                    <th>#</th>  <!-- Нумерация -->
                    <th>Название</th>
                    <th>Язык</th>
                    <th>Создан</th>
                    <th>Обновлён</th>
                     <th>Публичный?</th>
                    <th>Автор</th>
                    <th>Комментарии</th>
                    <th>👁 Просмотры</th>
                </tr>
            </thead>
            <tbody class="small">
                {% for snippet in page_obj %}
                <tr>
                    <td>{{ forloop.counter }}</td>  <!-- нумерация -->
                    <td>
                        <a href="{% url 'mainapp:snippet-detail' snippet.id %}" class="text-decoration-none">
                            {{ snippet.name }}
                        </a>
                    </td>
                    <td>
                        <i class="{% lang_icon_class snippet.lang %}"></i>
                        <span>{{ snippet.lang }}</span>
                    </td>
                    <td>{{ snippet.creation_date|date:"d.m.Y H:i" }}</td>
                    <td>{{ snippet.updated_date|date:"d.m.Y H:i" }}</td>
                    <td>
            {% if snippet.is_public %}
                ✅
            {% else %}
                🔒
            {% endif %}
        </td>
                    <td>{{ snippet.user|default:"Нет автора" }}</td>
                <td>{{ snippet.num_comments|default:"-" }}</td>
                    <td>{{ snippet.views_count }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="9" class="text-center text-muted">Сниппеты отсутствуют</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="text-end mt-2 small">
        <span class="text-muted">Всего сниппетов: {{ count_snippets }}</span>
    </div>

    <div class="row mt-3">
        <div class="col-6 offset-3">
            <a href="{% url 'mainapp:snippet-add' %}" class="btn btn-info w-100 btn-sm">➕ Добавить сниппет</a>
        </div>
    </div>

{% include 'includes/paginator.html' %}

</div>
{% endblock %}
