<div class="pagination mt-3" style="font-size: 1.1em;">
  <nav>
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page=1">&laquo; Первая стр.</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Прев.</a>
        </li>
      {% endif %}

      <li class="page-item disabled">
        <span class="page-link" style="background: #f8f9fa; border: none;">
          {{ page_obj.number }}/{{ page_obj.paginator.num_pages }}
        </span>
      </li>

      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">След.</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Последняя стр. &raquo;</a>
        </li>
      {% endif %}
    </ul>
  </nav>
</div>